POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_super_secret_password
POSTGRES_DB=your_db_name
DATABASE_URL=postgresql://user:password@localhost:5432/dbname

MINIO_ACCESS_KEY=your_minio_user
MINIO_SECRET_KEY=your_minio_password